@-webkit-keyframes hide {
    from {
        opacity: 0; }
    to {
        opacity: 1; }
}
@-moz-keyframes hide {
    from {
        opacity: 0; }
    to {
        opacity: 1; }
}
@-o-keyframes hide {
    from {
        opacity: 0; }
    to {
        opacity: 1; }
}
@keyframes hide {
    from {
        opacity: 0; }
    to {
        opacity: 1; }
}

/* ----------------- */

@-webkit-keyframes orbit {
    0% {
        -webkit-transform: translate(-3vh, -7vh); }
        100% {
        -webkit-transform: translate(36vh, 0vh); }
}
@-moz-keyframes orbit {
    0% {
        transform: translate(-3vh, -7vh); }
        100% {
        transform: translate(36vh, 0vh); }
}
@-o-keyframes orbit {
    0% {
        transform: translate(-3vh, -7vh); }
        100% {
        transform: translate(36vh, 0vh); }
}
@keyframes orbit {
    0% {
        transform: translate(-3vh, -7vh); }
        100% {
        transform: translate(36vh, 0vh); }
}

/* ----------------- */


@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg); }
    to {
        -webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate {
    from {
        transform: rotate(0deg); }
    to {
        transform: rotate(360deg);}
}
@-o-keyframes rotate {
    from {
        transform: rotate(0deg); }
    to {
        transform: rotate(360deg);}
}
@keyframes rotate {
    from {
        transform: rotate(0deg); }
    to {
        transform: rotate(360deg);}
}

/* ----------------- */


@-webkit-keyframes move {
    from {
        -webkit-transform: translateX(10vh); }
    to {
        -webkit-transform: translateX(20vh); }
}
@-moz-keyframes move {
    from {
        transform: translateX(10vh); }
    to {
        transform: translateX(20vh); }
}
@-o-keyframes move {
    from {
        transform: translateX(10vh); }
    to {
        transform: translateX(20vh); }
}
@keyframes move {
    from {
        transform: translateX(10vh); }
    to {
        transform: translateX(20vh); }
}

/* ----------------- */

@-webkit-keyframes raindrop {
    from {
        -webkit-transform: translate(40px, 60px); }
    to {
        -webkit-transform: translate(-40px, 200px); }
}
@-moz-keyframes raindrop {
    from {
        transform: translate(40px, 60px); }
    to {
        transform: translate(-40px, 200px); }
}
@-o-keyframes raindrop {
    from {
        transform: translate(40px, 60px); }
    to {
        transform: translate(-40px, 200px); }
}
@keyframes raindrop {
    from {
        transform: translate(40px, 60px); }
    to {
        transform: translate(-40px, 200px); }
}

/* ----------------- */

.image__shown {
    opacity: 1;
    display: block;
}

.half__shown {
    display: block;
    opacity: .3;
}

.image__hidden {
    opacity: 0;
}
