@import 'vars';

body {
    background-color: #F1F0EC;
    color: #333;
}

//////outside frame of the image
.body__container--image {
    width: 100vw;
    height: 900vh;

    div {
        position: fixed;
    }
}

.body__container--furniture {
    position: fixed;
    font-family: 'Neucha';
    font-size: 1.6em;
    font-weight: 400;

    h3 {
        left: 5%;
    }

    h4 {
        right: 5%;
        display: none;

        @media screen and (min-width: $tablet) {
            display: block;
        }
    }
}
