@import 'vars';

body {
    background-color: #F1F0EC;
    color: #333;
    font-family: 'NHaasGrotesk';
}

//////outside frame of the image
.body__container--image {
    width: 100vw;
    height: 900vh;

    div {
        position: fixed;
    }
}

.body__container--furniture {
    position: fixed;

    h3 {
        left: 5%;
    }

    h4 {
        right: 5%;
    }
}
