@import 'vars';

html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #F1F0EC;
    color: #333;
    font-family: 'NHaasGrotesk';
}

.body__container--image {
    display: flex;
    flex-direction: row;
    max-width: 90vw;
    margin: 0 auto;
}

@media screen and (min-width: $tablet) {
    .body__container--image {
        max-width: 70%;
    }
}

@media screen and (min-width: $desktop) {
    .body__container--image {
        max-width: 80%;
    }
}

@media screen and (min-width: $wide) {
    .body__container--image {
        max-width: 40%;
    }
}
