@import 'vars';

//////ya boi
.image__container--me {
    left: 30%;
    top: 15%;
    img {
        max-width: 180px;
    }
    @media screen and (min-width: $tablet) {
        left: 15%;
        img {
                max-width: 180px;
        }
    }
    @media screen and (min-width: $desktop) {
        left: 20%;
        img {
            max-width: 240px;
        }
    }
    @media screen and (min-width: $wide) {
        left: 20%;
        img {
            max-width: 340px;
        }
    }
}

//////the sun
.image__container--sun {
    right: 10%;
    top: 5%;

    img {
        max-width: 80px;
        animation: rotate 30s linear 0.01s infinite;
    }
    @media screen and (min-width: $tablet) {
        img {
                max-width: 160px;
        }
    }
    @media screen and (min-width: $desktop) {
        right: 20%;
    }
    @media screen and (min-width: $wide) {
        img {
            max-width: 240px;
        }
    }
}

//////the city
.image__container--city {
    right: 20%;
    bottom: 0%;
    img {
        max-width: 70vw;
        animation: move 2s linear 0.01s infinite alternate;
    }
    @media screen and (min-width: $tablet) {
        img {
            max-width: 420px;
            left: 0%;
            top: 5%;
        }
    }
    @media screen and (min-width: $desktop) {
        top: 45%;
        img {
                max-width: 540px;
        }
    }
    @media screen and (min-width: $wide) {
        img {
            max-width: 640px;
        }
    }
}
